<!DOCTYPE html>
<html lang="ro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ .title }}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="apple-touch-icon" href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/images/57x57.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/images/72x72.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/images/114x114.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/images/144x144.png">
    <link rel="shortcut icon" href="https://s5emagst.akamaized.net/assets/ro/pages/css/icons/favicon.ico?v=1a">
    <!--[if lt IE 9]>
    <script src="https://s0emagst.akamaized.net/layout/all/js/campaign/templates/responsive/ie9-r38.min.js"></script>
    <script src="https://s0emagst.akamaized.net/layout/all/js/campaign/templates/responsive/js/respond-1.4.2.min.js"></script>
    <script src="https://s0emagst.akamaized.net/layout/all/js/campaign/templates/responsive/js/html5shiv-3.7.2.min.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="./World Cup 2018_ Videoproiectoare_files/campaign.css">
</head>
<body class="default-campaign no-touch" style="">

    <div id="header" class="container">
        <a href="http://www.eos-all5632-ro-dev.mwp4.c.emag.network/homepage" target="_self" class="header-logo"><img
                src="./World Cup 2018_ Videoproiectoare_files/34442.png" alt="eMAG"></a>
        <div class="header-back"><a href="http://www.eos-all5632-ro-dev.mwp4.c.emag.network/homepage?ref=emag_CMP-4652"><i
                class="em em-angle-left"></i>Inapoi in site</a></div>
        <div class="header-title"></div>
    </div>

    <div id="navbar" class=" is-fixed">
        <ul class="container">
            <li class="js-menu-category"><a
                    href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697"><span>Televizoare &amp; Accesorii</span></a>
                <ul class="submenu">
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697#4k-ultra-hd">4K/
                            Ultra HD</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697#full-hd">Full
                            HD</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697#high-definition">High-Definition</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697#qled">QLED</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697#suporturi-tv">Suporturi
                            TV</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/televizoare-accesorii?ref=section_CMP-4652_2697#cabluri-adaptoare">Cabluri
                            &amp; adaptoare</a></li>
                </ul>
            </li>
            <li class="js-menu-category active">
                <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/videoproiectoare?ref=section_CMP-4652_2703"><span>Videoproiectoare</span></a>

                <ul class="submenu">
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/videoproiectoare?ref=section_CMP-4652_2703#svga">SVGA</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/videoproiectoare?ref=section_CMP-4652_2703#wxga">WXGA</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/videoproiectoare?ref=section_CMP-4652_2703#full-hd">Full
                            HD</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/videoproiectoare?ref=section_CMP-4652_2703#accesorii-videoproiectoare">Accesorii
                            videoproiectoare</a></li>
                </ul>
            </li>
            <li class="js-menu-category">
                <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/audio?ref=section_CMP-4652_2720"><span>Audio</span></a>

                <ul class="submenu">
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/audio?ref=section_CMP-4652_2720#soundbars">Soundbars</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/audio?ref=section_CMP-4652_2720#home-cinema">Home
                            Cinema</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/audio?ref=section_CMP-4652_2720#micro-minisisteme">Micro/minisisteme</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/audio?ref=section_CMP-4652_2720#casti">Casti</a>
                    </li>
                </ul>
            </li>
            <li class="js-menu-category">
                <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/gaming?ref=section_CMP-4652_2700"><span>Gaming</span></a>

                <ul class="submenu">
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/gaming?ref=section_CMP-4652_2700#console">Console</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/gaming?ref=section_CMP-4652_2700#jocuri">Jocuri</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/gaming?ref=section_CMP-4652_2700#accesorii">Accesorii</a>
                    </li>
                </ul>
            </li>
            <li class="js-menu-category">
                <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716"><span>Sport &amp; Ingrijire Personala</span></a>

                <ul class="submenu">
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#echipament-fotbal">Echipament
                            fotbal</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#incaltaminte">Incaltaminte</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#mingi">Mingi</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#accesorii-fotbal">Accesorii
                            fotbal</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#cupe-trofee-medalii">Cupe,
                            trofee &amp; medalii</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#nutritie-sportiva">Nutritie
                            sportiva</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/sport-ingrijire-personala?ref=section_CMP-4652_2716#ceasuri-sport">Ceasuri
                            sport</a></li>
                </ul>
            </li>
            <li class="js-menu-category">
                <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717"><span>Electrocasnice &amp; Home&amp;Deco</span></a>

                <ul class="submenu">
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#aparate-frigorifice">Aparate
                            frigorifice</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#vitrine-frigorifice">Vitrine
                            frigorifice</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#aer-conditionat">Aer
                            conditionat</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#ventilatoare">Ventilatoare</a>
                    </li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#gratare-electrice">Gratare
                            electrice</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#seturi-de-living">Seturi
                            de living</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#canapele-si-fotolii">Canapele
                            si fotolii</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#mobilier-de-gradina">Mobilier
                            de gradina</a></li>
                    <li>
                        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/cmp/world-cup-2018/electrocasnice-home-deco?ref=section_CMP-4652_2717#gratare-de-gradina-si-accesorii">Gratare
                            de gradina si accesorii</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="main-section" class="container" style="margin-top: 70px;">

        <div id="side-nav" class=" is-fixed" style="top: 77px;">
            <div class="side-nav-list hidden-xs hidden-sm">
                <h3 class="side-list-title"><small>Categories from</small>{{ .title }}<span class="side-list-deco"></span></h3>
                <ul>
                    <li class=" active"><a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/preview/microsite_campaigns/ro/cmp/world-cup-2018/videoproiectoare.php#{{.categ.sef_name}}" class="js-animate-scroll">{{.categ.title}}</a></li>
                </ul>
            </div>
        </div>

        <a href="http://campaigns.bo.www.eos-all5567-ro-dev.mwp4.c.emag.network/preview/microsite_campaigns/ro/cmp/world-cup-2018/videoproiectoare.php#" class="scroll-to-top js-animate-scroll hidden-xs hidden-sm">Up!</a>

        <div class="back-to-menu js-hide-listing">World Cup 2018</div>

        {{ range .categories }}
            <section class="section-category" id="{{.sef_name}}">
                <div class="section-header"><h1 class="section-title text-center">{{.title}}</h1></div>

                {{ range .products }}
                    <div class="product-card js-product-data js-card-clickable" data-offer-id="{{.id}}" data-category-trail="{{.category.trail}}" data-category-name="{{.category.name}}" data-name="{{.name}}" data-url="{{.url.path}}">

                        <a href="{{.url.path}}" class="product-link js-product-link">
                            <span class="product-thumbnail"><img src="{{.image.original}}" alt=""></span>
                            <h2 class="product-title">{{.name}}</h2>
                            <div class="product-badge-box"><div class="product-badge badge--discount" style="background-color: rgb(255, 66, 0);"><div class="badge-label">-{{.offer.price.discount.percent}}%</div></div></div>
                        </a>

                        <div class="product-offer">
                            <div class="product-price product-price-old"><s>{{.offer.price.initial}}</s><span>(-60%)</span></div>
                            <div class="product-price product-price-current">{{.offer.price.current}}</div>
                        </div>

                        <div class="product-buy"><a href="{{.url.path}}" class="btn btn-block btn-icon js-product-link"><i class="em em-angle-double-right"></i>View details</a></div>
                    </div>
                {{ end }}

            </section>

            <section class="section-banner" id="page_index_0"></section>
        {{ end }}


    </div>

    <div class="deco-top"></div>
    <div class="deco-side-left"></div>
    <div class="deco-side-right"></div>
</body>
</html>