<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ .title }}</title>
    </head>
    <body class="default-campaign no-touch" style="">

    {{ range .categories }}
    <section class="section-category" id="{{.sef_name}}">
        <div class="section-header"><h1 class="section-title text-center">{{.title}}</h1></div>

    {{ range .products }}
        <div class="product-card js-product-data js-card-clickable" data-offer-id="{{.id}}" data-category-trail="{{.category.trail}}" data-category-name="{{.category.name}}" data-name="{{.name}}" data-url="{{.url.path}}">

            <a href="{{.url.path}}" class="product-link js-product-link">
                <span class="product-thumbnail"><img src="{{.image.original}}" alt=""></span>
                <h2 class="product-title">{{.name}}</h2>
                <div class="product-badge-box"><div class="product-badge badge--discount" style="background-color: rgb(255, 66, 0);"><div class="badge-label">-{{.offer.price.discount.percent}}%</div></div></div>
            </a>

            <div class="product-offer">
                <div class="product-price product-price-old"><s>{{.offer.price.initial}}</s><span>(-60%)</span></div>
                <div class="product-price product-price-current">{{.offer.price.current}}</div>
            </div>

            <div class="product-buy"><a href="{{.url.path}}" class="btn btn-block btn-icon js-product-link"><i class="em em-angle-double-right"></i>View details</a></div>
        </div>
    {{ end }}

    </section>

    <section class="section-banner" id="page_index_0"></section>
    {{ end }}
    </body>
</html>